[required] {
    border: 2px solid orangered;
}

[href^="#"] { /*COMEÇA COM ALGUMA COISA*/
    background: tomato;
}

[href$=".com"] { /*TERMINA COM ALGUMA COISA*/
    background: forestgreen;
}

section > h2 { /*SELECIONA O H2 QUE É FILHO DIRETO DA SECTION*/
    color: tomato;
}

article {
    background: lightgreen;
    padding: 10px;
}

p + p { /*ADICIONA O ESTILO SOMENTE SE O P TIVER UM P ANTES DELE*/
    margin-top: 20px;
}

/* * { /*SELECIONA TODOS AS TAGS
    border: 2px solid red;
} */