/*
********* PSEUDO ELEMENTS ***********
criam elementos HTML com base no seletor
::after
::before
TEM QUE TER O "CONTENT" PODE FICAR VAZIO OU NÃO
usam para decoração

::first-letter - modifica a primeira letra do conteúdo
::first-line - seleciona a primeira linha do conteúdo
*/

/* h1::before {
    content:"Antes ";
}

h1::after {
    content:" Depois";
} */



h1::before {
    content:"";
    display: block;
    width: 40px;
    height: 4px;
    background: lightcoral;
}

ul{
    list-style: none;
}

li{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: linear-gradient(red, blue);
    border: 2px solid #caf;
    margin-right: 10px;
    border-radius: 50%;
}