/*
********* PSEUDO CLASSES *************
permite definirmos o estilo de diferentes estados do elemento html

:hover - MOUSE POR CIMA
:focus - ELEMENTO EM FOCO, USANDO TECLADO - TAB
:active - QUANDO CLICAMOS NO ELEMENTO
:visited - PARA LINKS QUE JÁ FORAM VISITADOS
:first-child - seleciona o primeiro elemento
:last-child - seleciona o último elemento
:nth-child(4) - seleciona o 4º elemento (even - seleciona elementos pares / odd - seleciona elementos ímpares / 3n - de 3 em 3)
*/

a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background: #caf;
  color: #217;
}

a:hover {
  background: #adf; /*PODE SER USADO EM QUALQUER ELEMENTO, NÃO SÓ NO A*/
  color: brown;
}

/* a:focus {
  background: #cfa;
  color: aqua;
  outline: none;  NÃO USAR
  border: 6px solid darkmagenta;
} */

a:active {
    background: #ffa;
    color: yellowgreen;
}

/* a:visited {
    background: #f41; SOBRESCREVE POR CIMA DE TODOS OS OUTROS 
    color: black;
} */

.lista-1 li:first-child {
  background: #caf;
}

.lista-1 li:last-child {
  background: red;
}

.lista-2 li:nth-child(odd) {
  background: red;
}

.lista-2 li:nth-child(2n) {
  background: lightcoral;
}