body, h1, h2, h3, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color:crimson;
    line-height: 1.5;
    background-color:antiquewhite;
}

a {
    display: block;
    padding: 10px;
    margin-top: 40px;
    color: #222;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
    border: 2px solid #222;
    border-radius: 10px;
}

.ativo {
    font-size: 0.5rem;
    color: red;
    background-color: #222;
    font-family: cursive;
}